c-input-group {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 1rem;

}
span {
color: rgb(225, 241, 241);
}
input {

height: 4rem;
}
