
<footer id="footer">
  <main class="content">
    <img src="../../../assets/Frame 2.png" alt="">
    <div class="links">
      <a href="">Acceuil</a>
      <a href="">NOUVELLES ANNONCES</a>
      <a href="">MES ANNONCES </a>

    </div >
    <div class="links">
      <a href="">  CONDITIONS D'UTILISATION</a>
      <a href="">CONFIDENTIALITÉ</a>
      <a href="">À PROPOS </a>

    </div>
    <div class="links">
      <a href="">PUBLICITÉ </a>
      <a href="">QUESTIONS FRÉQUENTES</a>
      <a href=""> NEWS</a>

    </div>
  </main>
  <c-footer>
    <div>
      <a href="https://github.com/ahmedbouzid" target="_blank">Work info</a>
      <span> &copy; 2021 Wolf</span>
    </div>
    <div class="ms-auto">
      <span>Powered by </span>
      <a href="https://github.com/ahmedbouzid" target="_blank">
        <span>Ahmed Bouzid</span>
      </a>
    </div>
  </c-footer>
</footer>
